# Assignment 1

by Timothy Ng

In [17]:
## Task 1
#Q1
print('hello world')

hello world

In [18]:
#Q2
x=range(2000,3201)
y=[]
z=0
for i in x:
    if not i%7 and i%5:
        y.append(i)
        
print(y)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [23]:
#Q3
firstname=input("What's your first name?: ")
lastname=input("What's your last name?: ")

print('{} {}'.format(lastname[::-1], firstname[::-1]))

What's your first name?: tim
What's your last name?: ng
gn mit

In [33]:
#Q4
import math
d=12
r=12/2
v=(4*(r**3)*math.pi)/3
print(v)

904.7786842338604

In [53]:
## Task 2
#Q1
numbers=input('Input a list of number separated by commas: ')
num=numbers.split(',')
num_f=[float(n) for n in num]
print(num_f)

Input a list of number separated by commas: 1,2,3
[1.0, 2.0, 3.0]

In [51]:
#Q2
for n in range(1,10):
    while n<=5:
        print('*'*n)
        break
    else:
        print('*'*(10-n))

*
**
***
****
*****
****
***
**
*

In [52]:
#Q3
word=input('Key in a word to reverse: ')
print(word[::-1])

Key in a word to reverse: tim
mit

In [65]:
#Q4
print("WE, THE PEOPLE OF INDIA, \n\thaving solemnly resolved to constitute India into a SOVEREIGN, \n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t and to secure to allits citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to allits citizens